$small-screen-full-nav: 70vh;
$small-screen-diminished-content: 30vh;

$small-screen-diminished-nav: 15vh;
$small-screen-full-content: 85vh;


$large-screen-full-nav: 70vw;
$large-screen-diminished-content: 30vw;

$large-screen-diminished-nav: 15vw;
$large-screen-full-content: 85vw;



$font-size-transition: font-size 2s;
$height-transition: height 2s;
$margin-transition: margin 2s;
$opacity-transition: opacity 2s;
$width-transition: width 2s;
