@import 'include-media';

@include media('<sm') {
  display: flex;
  // flex-direction: column;
}

@include media('>sm') {
  display: flex;
  // flex-direction: column;
}

canvas {
  width: 640px;
  height: 425px;
}

.foreground-canvas {
  position: absolute;
  left: 0;
  border: solid 1px black;
}
