@import 'include-media';
@import 'variables';

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

%ego-shared-small-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $font-size-transition, $height-transition;
}

.ego__header--diminished {
  @extend %ego-shared-small-screen;
  height: $small-screen-diminished-content;
  font-size: 60px;
}

.ego__header--embiggened {
  @extend %ego-shared-small-screen;
  height: 12vh;
  min-height: 70px;
  font-size: 24px;
}

@include media('>sm') {
  %content-shared-large-screen {
    transition: $width-transition
  }

  %ego-shared-large-screen {
    float: left;
    transition: $font-size-transition, $margin-transition, $height-transition;
  }

  .app {
    display: flex;
    flex-direction: row;
  }

  .content--diminished {
    @extend %content-shared-large-screen;
    width: $large-screen-diminished-content;
  }

  .content--embiggened {
    @extend %content-shared-large-screen;
    width: $large-screen-full-content;
    display: flex;
    flex-direction: column;
  }

  .ego__header--diminished {
    @extend %ego-shared-large-screen;
    height: auto;
    // width: 30vh;
    font-size: 72px;
    align-self: flex-start;
    margin: 20vh 0 0 25px;
  }

  .ego__header--embiggened {
    @extend %ego-shared-large-screen;
    height: auto;
    // width: $large-screen-full-content;
    font-size: 36px;
    margin: 25px 0 0 25px;
    align-self: flex-start;

  }
}
