@import 'variables';

.home {
  display: flex;
  flex-direction: column;
}

[class*="home__cool-things"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@include screen-size('md') {
  [class*="home__cool-things"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home__cool-things--invisible {
  // opacity: 0;
  // transition: $opacity-transition;
}

.home__cool-things--visible {
  // opacity: 100;
  // transition: opacity 0.5s;
  // transition-delay: 2s;
}
