@import 'include-media';
@import 'variables';

@mixin nav-shared($transition) {
  display: flex;
  background-color: #ff5851;
  color: white;
  font-size: 24px;
  transition: $transition;
  z-index: 100;
}

%diminished-navbar {
  width: 100vw;
  justify-content: center;
}

.navbar {
  @include nav-shared($height-transition);
}

.navbar--embiggened {
  @extend %diminished-navbar;
  height: $small-screen-full-nav;
}

.navbar--diminished {
  @extend %diminished-navbar;
  height: $small-screen-diminished-nav;
  min-height: $small-screen-diminished-nav-min-height;
}

.navbar__link-container {
  height: $small-screen-diminished-nav;
  min-height: $small-screen-diminished-nav-min-height;
  display: flex;
  align-items: center;
  transition: $height-transition;
}

.navbar__link-list {
  transition: $opacity-transition;
}

.navbar__link-list--invisible {
  opacity: 0;
}

.navbar__link-list--visible {
  opacity: 100;
}

nav {
  ul {
    li {
      display: inline-block;
    }
  }
}

@include media('>sm') {


  %full-heights {
    height: 100vh;
  }

  .navbar--embiggened {
    @include nav-shared($width-transition);
    @extend %full-heights;
    width: $large-screen-full-nav;
  }

  .navbar--diminished {
    @include nav-shared($width-transition);
    @extend %full-heights;
    width: $large-screen-diminished-nav;
  }

  nav {
    ul {
      li {
        display: list-item;
      }
    }
  }
}
