@import 'variables';

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  color: white;
  font-size: 24px;
  background-color: #ff5851;
  transition: $height-transition;
  z-index: 100;
}

.navbar--embiggened {
  height: $sm-full-nav;
}

.navbar--diminished {
  height: $sm-diminished-nav;
  min-height: $sm-diminished-nav-min-height;
}

.navbar__links {
  height: $sm-diminished-nav;
  min-height: $sm-diminished-nav-min-height;
  display: flex;
  align-items: center;
  transition: $height-transition;
}

.navbar__links__list {
  transition: $opacity-transition;
}

.navbar__links__list--visible {
  opacity: 100;
}

.navbar__links__list--invisible {
  opacity: 0;
}

.navbar__links__list__item {
  display: inline-block;
}

.embiggen-button {
  @include button-reset;
}

@include screen-size('lg') {
  .navbar {
    height: 100vh;
    justify-content: flex-start;
    transition: $width-transition;
  }

  .navbar--embiggened {
    width: $lg-full-nav;
  }

  .navbar--diminished {
    width: $lg-diminished-nav;
  }

  .navbar__links {
    width: $lg-diminished-nav;
    display: flex;
    justify-content: center;
    transition: $width-transition;
  }

  .navbar__links__list__item {
    display: list-item;
  }
}
