@import 'include-media';
@import 'variables';

.projects--invisible {
  opacity: 0;
}

.projects--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__portfolio-link {
  width: 90%;
  margin-bottom: 20px;
}

.projects__portfolio-img {
  width: 100%;
}

@include media('>sm') {
  .projects--visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .projects__portfolio-link {
    width: 450px;
  }

  .portfolio-img {
    width: 450px;
  }
}
