@import 'variables';

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio--invisible {
  height: 100vh;
  opacity: 0;
  overflow: hidden;
}

.portfolio--visible {
  opacity: 100;
}

.portfolio__link {
  width: 90%;
  margin-bottom: 20px;
}

.portfolio__link__img {
  width: 100%;
}

@include screen-size('md') {
  .portfolio {
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio__link {
    width: 450px;
  }
}
